#form {
    background-color: #ffc455;
    border-radius: 10px;
    width: 25vw;
    padding: 20px;
}

* {
    margin-left: auto;
    margin-right: auto;
}

.sub {
    background-color: #4b97ff;
    color: white;
    border-radius: 5px;
}

img {
width: 100%;
height: auto;
}
