{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/css/form.css">
<h1 >Загрузка фотографии</h1>
<h2 >для участия в миссии</h2>

<div class="form-file">
    <p>Приложите фотографию</p>
    <form method=post enctype=multipart/form-data class="form-file-input" id="customFile" >
        <input type="file" name="file">

        <div>
            <img src={{ image }} class="rounded" alt="" id="image">
        </div>

        <input type=submit value=Отправить class="sub">
    </form>
</div>


{% endblock %}